@font-face {
  font-family: 'Myriad Pro';
  src: url('/fonts/MyriadPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('/fonts/MyriadPro-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('/fonts/MyriadPro-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
